#root {
  --primary: #3e000c;
  --secondary: #f8efda;
  --results: #2a653c;
  --deductions: #c62828;
  --inner: #ffffff;

  font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
  background-color: #85cddd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}